/* =============
    Base
============= */

$primary1: #262734;
$primary2: #48364C;
$primary3: #B0B4B7;
$primary4: #DADADA;

$secondary1: #13293B;
$secondary2: #865D78;
$secondary3: #6D7C90;
$secondary4: #B5A359;

$neutral1: #65686D;
$neutral2: #A09694;


$accent1: #A55730;
$accent2: #D1AA21;




