/* =============
    Base
============= */

$primary1: #262734;
$primary2: #48364C;
$primary3: #B0B4B7;
$primary4: #DADADA;

$secondary1: #13293B;
$secondary2: #865D78;
$secondary3: #6D7C90;
$secondary4: #B5A359;

$neutral1: #65686D;
$neutral2: #A09694;


$accent1: #A55730;
$accent2: #D1AA21;


ul{

    list-style: none;
    padding: 0px;
    margin: 0px;
}

@mixin flex(){
    display: flex;
    flex-direction: row;
}

ul#specs{
    li{
        @include flex();
        gap: 20px;

    
    }
}


@mixin site-padding(){

    padding: 64px;
}

.button{
    background-color: #A55730;
    text-decoration: none;
    align-items: center;
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    color: white;
    padding: 24px 64px;
    display: inline-block;
    margin: 0 auto;
}