/* =============
    Typography
============= */

@mixin headline() {
    font-family: "Avenir Next";
    font-size: 27px;
    font-weight: 900;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;

    @include lg {
        font-family: Avenir Next;
        font-size: 45px;
        font-weight: 900;
        line-height: 61px;
        letter-spacing: 0em;

    }
}

@mixin subhead(){
    font-family: Avenir Next;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;

    @include lg{
        font-family: Avenir Next;
        font-size: 30px;
        font-weight: 400;
        line-height: 41px;
        letter-spacing: 0em;
         
    }


}

@mixin spec-text() {
    font-family: Avenir Next;
    font-size: 13px;
    font-weight: 500;
    line-height: 39px;
    letter-spacing: 0em;

    @include lg{
        font-family: Avenir Next;
        font-size: 20px;
        font-weight: 500;
        line-height: 40px;
        letter-spacing: 0em;

    }
}
    
@mixin features-text(){
    font-family: Avenir Next;
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;    

    @include lg{
        font-family: Avenir Next;
        font-size: 18px;
        line-height: 25px;


    }
    
}

@mixin paragraph-text(){
    
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    
    
    
    @include lg{

        font-family: 'Avenir Next';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
    
    }
    

}

@mixin callout-text(){

    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 900;
    font-size: 8px;
    line-height: 11px;

    @include lg{
        font-family: 'Avenir Next';
        font-style: normal;
        font-weight: 900;
        font-size: 12px;
        line-height: 16px;
    }

}




h1 {
    @include headline();

}

p{
    @include paragraph-text()
}

h5 {

    @include callout-text();
}