/* =============
    Typography
============= */

@mixin headline() {
    font-family: "Avenir Next";
    font-size: 27px;
    font-weight: 900;
    letter-spacing: 0em;
    text-align: left;

    @include lg {
        font-family: Avenir Next;
        font-size: 45px;
        font-weight: 900;
        letter-spacing: 0em;

    }
}

@mixin subhead(){
    font-family: Avenir Next;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;

    @include lg{
        font-family: Avenir Next;
        font-size: 30px;
        font-weight: 400;
        letter-spacing: 0em;
         
    }


}

@mixin spec-text() {
    font-family: Avenir Next;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0em;

    @include lg{
        font-family: Avenir Next;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0em;

    }
}
    
@mixin features-text(){
    font-family: Avenir Next;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;    

    @include lg{
        font-family: Avenir Next;
        font-size: 18px;


    }
    
}

@mixin paragraph-text(){
    
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    
    
    
    @include lg{

        font-family: 'Avenir Next';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
    
    }
    

}

@mixin h5_text(){

    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 900;
    font-size: 8px;

    @include lg{
        font-family: 'Avenir Next';
        font-style: normal;
        font-weight: 900;
        font-size: 12px;
    }

}

@mixin h2_text(){

    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    @include lg{

        font-family: 'Avenir Next';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
    }

}

@mixin h4_text(){
    font-family: 'Avenir Next';
    font-style: normal;
    font-size: 12px;

    @include lg{
        font-family: 'Avenir Next';
        font-style: normal;
        font-size: 15px;
    }
}

@mixin h6_text(){
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 900;
    font-size: 11px;


}


h1 {
    @include headline();

}

h2 {
    @include h2_text();
}

p{
    @include paragraph-text();
}

h5 {

    @include h5_text();
}

h4{

    @include h4_text();
}

h6{
    @include h6_text

}