section#features{

    background-color: #dadada;
    color: $primary1;
    padding: 30px;
    text-align: center;

    h1{
        text-align: center;
        padding-bottom: 11px;
    }


    ul{
        li{
            padding-bottom: 35px;

            p{
                font-family: 'Avenir Next';
                font-style: normal;
                font-weight: 700;
                font-size: 13px;

                @include lg{
                    font-family: 'Avenir Next';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 25px;
                    text-align: center;
                }
            }



        }
    }









    @include lg{
        padding-top: 150px;
        
        h1{
            text-align: center;
            padding-bottom: 50px;
        }

        ul{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            justify-content: baseline;
            padding-left: 220px;
            padding-right: 220px;
            padding-bottom: 200px;
            column-gap: 55px;

        }
        






    }
















}


