section#hero{
    background-color: $primary1;
    color: white;
    position: relative;

    img{
        width: 100%;

    }
    
    article{
        padding: 29px 30px;

        button{
            background-color: $accent2;
            border: none;
            border-radius: 100px;
            padding: 0px 21px;
        }

        section#pricecard{
        
            display: flex;
            flex-direction: row;
            gap: 30px;
            margin-bottom: 50px;

            aside{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background-color: $primary3;
                color: $primary1;
                padding: 15px;
                h4{
                    margin: 0;

                }

                h1{
                    margin-right: 15px;
                }
            }
            
        }

        div{

            display: flex;
            flex-direction: row;
            gap: 17px;
            align-items: center;
            
            img{
                width: auto;
                height: 23px;
            }

      
        }

        @include lg{
            position: absolute;
            top: 0;
            bottom: 0;
            background: rgba(35, 36, 48, 0.93);
            padding: 100px;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;


        }


    }
    






}