section#checkout{
    section#cart{
        background-color: $primary1;
        color: white;


        aside{
            display: flex;
            flex-direction: row;
            padding-left: 10px;
            padding-top: 16px;

        }

        h1{
            padding-left: 30px;
        }

        article{
            div#item{
                padding-left: 30px;
                display: flex;
                flex-direction: row;
                gap: 20px;
                padding-bottom: 15px;

            }

            div#total{
                padding-left: 30px;
                display: flex;
                flex-direction: row;
                gap: 20px;
                border-top: .5mm solid;
                padding-bottom: 30px;
                padding-right: 30px;
                justify-content: space-between;

            }



        }

      

    }

    section#card{
        padding-left: 30px;
        padding-bottom: 50px;
        padding-top: 30px;

        h1{
            color: $primary1;
        }

        form{
            padding-bottom: 11px;
            
            h4{
                color: $primary1;
            }

            input{
                font-family: 'Avenir Next';
                font-style: normal;
                font-weight: 900;
                font-size: 12px;
                color: $primary1;
                width: auto;
                padding: 12px 50px 12px 10px;
                border: 2px solid #262734;
                

            }


            
        }

        


    }




    @include lg{
     
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        section#card{
            padding-left: 30px;
            padding-bottom: 50px;
            padding-top: 70px;
            align-content: center;
            h1{
                color: $primary1;
            }
    
            form{
                padding-bottom: 11px;
                
                h4{
                    color: $primary1;
                }
    
                input{
                    font-family: 'Avenir Next';
                    font-style: normal;
                    font-weight: 900;
                    font-size: 12px;
                    color: $primary1;
                    padding: 12px 50px 12px 10px;
                    border: 2px solid #262734;
                    
    
                }
    
                
            }
    
            
    
    
        }
    
        
     }







































}