section#thankyou{
    background-color: $primary1;
    color: white;
    text-align: center;
    padding-top: 300px;
    padding-bottom: 300px;
    
    h1{
        text-align: center;
    }

    a{
        margin: 55px;
        padding-left: 25px;
        padding-right: 25px;
    }

}